<div class="d-flex justify-content-center container mt-5">
  <div
    class="d-flex container2 border"
    [ngStyle]="{ 'background-image': 'url(assets/images/fondo-login.png)' }"
  >
    <div class="d-flex my-auto col-7 title">
      <div><h4 class="title__1">Bienvenidos a</h4></div>
      <div><h4 class="title__2 ps-2">Unicomer</h4></div>
    </div>
    <div class="col-5 border2">
      <div class="logo mt-3 ms-4">
        <img src="assets/images/logo-ligth.png" alt="Logo" />
      </div>
      <div class="form mx-auto mt-3 row">
        <div class="mb-3">
          <label for="tipoDocumento" class="form-label"
            >Tipo de Documento</label
          >
          <input
            type="text"
            class="form-control"
            id="tipoDocumento"
            name="tipoDocumento"
            required
            [formControl]="tipoDocumentoField"
          />
          <div>
            <strong
              *ngIf="
                tipoDocumentoField.touched &&
                tipoDocumentoField.hasError('required')
              "
              >Este campo es requerido</strong
            >
          </div>
          <div>
            <strong
              *ngIf="
                tipoDocumentoField.touched &&
                tipoDocumentoField.hasError('minlength')
              "
              >Debe tener mínimo 2 caracteres</strong
            >
          </div>
          <div>
            <strong
              *ngIf="
                tipoDocumentoField.touched &&
                tipoDocumentoField.hasError('maxlength')
              "
              >Debe tener máximo 10 caracteres</strong
            >
          </div>
        </div>
        <div class="mb-3">
          <label for="numeroDocumento" class="form-label"
            >Número de Documento</label
          >
          <input
            type="number"
            class="form-control"
            id="numeroDocumento"
            name="numeroDocumento"
            required
            [formControl]="numeroDocumentoField"
          />
          <div>
            <strong
              *ngIf="
                numeroDocumentoField.touched &&
                numeroDocumentoField.hasError('required')
              "
              >Este campo es requerido</strong
            >
          </div>
          <div>
            <strong
              *ngIf="
                numeroDocumentoField.touched &&
                numeroDocumentoField.hasError('pattern')
              "
              >Debe tener entre 7 y 10 números y no admite puntos ni comas</strong
            >
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Clave</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
            [formControl]="passwordField"
          />
          <div>
            <strong
              *ngIf="
                passwordField.touched && passwordField.hasError('required')
              "
              >Este campo es requerido</strong
            >
          </div>
          <div>
            <strong
              *ngIf="
                passwordField.touched && passwordField.hasError('minlength')
              "
              >Debe tener mínimo 5 caracteres</strong
            >
          </div>
          <div>
            <strong
              *ngIf="
                passwordField.touched && passwordField.hasError('maxlength')
              "
              >Debe tener máximo 10 caracteres</strong
            >
          </div>
          <div>
            <strong
              *ngIf="
                passwordField.touched && passwordField.hasError('pattern')
              "
              >Debe tener al menos una letra mayúscula, una minúscula, un número y un caracter especial</strong
            >
          </div>
        </div>
        <div class="d-grid gap-2 mt-3 mb-3">
          <button type="submit" class="btn btn-light btn-sm rounded-4" routerLink="/home" [disabled]="!tipoDocumentoField.valid || !numeroDocumentoField.valid || !passwordField.valid">Ingresar</button>
        </div>
      </div>
      <div class="teclado mb-5 pb-4 mt-4">
        <a href=""><small><i class="fa-regular fa-keyboard me-2"></i>Teclado virtual</small></a>
      </div>
      <div class="footer mt-5">
        <a href=""><small>¿No tienes cuenta? Registrate aquí</small></a>
      </div>
    </div>
  </div>
</div>
