.container {
    font-family: 'Poppins', sans-serif;
}

.container2 {
    height: 80vh;
    width: 50vw;
    border: 1px solid #000;
    border-top-width: 2px;
}

.title {
    justify-content: center;
    background-color: #fff;
}

.title__1 {
    font-weight: 700;
}

.title__2 {
    color: #353A61;
    font-weight: 700;
}

.border2 {
    background-color: rgba(53, 58, 97, .9);
    border: 2px solid #3F8AE2;
    border-right-color: transparent;
    color: #fff;
}

.form {
    max-width: 80%;
    font-size: 0.8rem;
}

.form-control {
    background-color: transparent;
    color: #fff;
    font-size: 0.8rem;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

.btn {
    color: #353A61;
    font-size: 0.8rem;
    font-weight: bold;
}

.teclado,
.footer {
    text-align: center;
    font-size: 0.8rem;
}

a {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 513.99px) { 
    .container {
        margin: 0 !important;
    }
    .container2 {
        height: 100vh;
        width: 100vw;
        flex-direction: column;
    }
    .mobile__form{
        font-size: 0.8rem;
        width: 100%;
        height: 80vh;
    }
    .form { 
        margin: 15px auto !important;
        width: 100vw;
    }
    .title {
        text-align: center;
        width: 100%;
    }
    .title__1 {
        font-size: 1.2rem;
    }
    .title__2 {
        font-size: 1.2rem;
    }
    .strong {
        font-size: small;
    }
    .logo{
        margin-left: 30px !important;
    }
    .logo img{
        width: 30%;
    }
    .teclado {
        display: none;
    }
    .footer{
        display: none;
    }
}

@media screen and (min-width: 514px) and (max-width: 1199.98px) { 
    .title__1, .title__2 {
        font-size: 1.2rem;
    }
    .container2 {
        height: 50vh;
        width: 60vh;
    }
    .logo img{
        width: 40%;
    }
    .teclado {
        display: none;
    }
    .footer{
        display: none;
    }
}

@media (min-width: 1200px) {
    .title__1, .title__2 {
        font-size: 1.3rem;
    }
    .container2 {
        height: 70vh;
    }
    .teclado {
        margin-bottom: 1rem !important;
    }
    .footer{
        margin-top: 1rem !important;
    }
}