<nav class="navbar width-height d-flex">
    <div class="container-fluid mb-4">
        <a class="navbar-brand" routerLink="/home">
            <img src="assets/images/logo-dark.png" alt="Logo" width="30" height="24" class="d-inline-block logo">
        </a>
    </div>
    <div class="container-fluid d-flex">
        <div class="" id="navbar1">
            <ul class="navbar-nav" *ngFor="let opcion of opciones">
                <li class="nav-item">
                    <a class="nav-link" routerLink="{{opcion.router}}"><i class='{{opcion.icono}}'></i> {{opcion.nombre}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>